In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('ufo_sighting_data.csv')
df.head()

/home/wot-prink/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3269: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Date_time                        80332 non-null  object
 1   city                             80332 non-null  object
 2   state/province                   74535 non-null  object
 3   country                          70662 non-null  object
 4   UFO_shape                        78400 non-null  object
 5   length_of_encounter_seconds      80332 non-null  object
 6   described_duration_of_encounter  80332 non-null  object
 7   description                      80317 non-null  object
 8   date_documented                  80332 non-null  object
 9   latitude                         80332 non-null  object
 10  longitude                        80332 non-null  float64
dtypes: float64(1), object(10)
memory usage: 6.7+ MB

In [5]:
df.shape

(80332, 11)

Write a Pandas program to create todayâ€™s date

In [8]:
import pandas as pd
 
current_time = pd.Timestamp.now()
current_time

Timestamp('2024-01-25 12:04:05.776095')

In [10]:
pd_current_date=pd.to_datetime("today").date()

In [11]:
pd_current_date

datetime.date(2024, 1, 25)

Write a Pandas program to calculate all the sighting days of the unidentified flying object (ufo) from the current date.

In [12]:
df.head()

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [13]:
df.Date_time

0        10/10/1949 20:30
1        10/10/1949 21:00
2        10/10/1955 17:00
3        10/10/1956 21:00
4        10/10/1960 20:00
               ...
80327      9/9/2013 21:15
80328      9/9/2013 22:00
80329      9/9/2013 22:00
80330      9/9/2013 22:20
80331      9/9/2013 23:00
Name: Date_time, Length: 80332, dtype: object

In [31]:
df['date']=df.Date_time.str.split(" ",expand=True)

In [32]:
df['date']

0        10/10/1949
1        10/10/1949
2        10/10/1955
3        10/10/1956
4        10/10/1960
            ...
80327      9/9/2013
80328      9/9/2013
80329      9/9/2013
80330      9/9/2013
80331      9/9/2013
Name: date, Length: 80332, dtype: object

In [34]:
td = pd.to_datetime("today") - pd.to_datetime(df['date'][0])

In [42]:
df['date_distence']=pd.to_datetime("today") - pd.to_datetime(df['date'])

In [43]:
df['date_distence']

0       27135 days 12:23:28.743649
1       27135 days 12:23:28.743649
2       24944 days 12:23:28.743649
3       24578 days 12:23:28.743649
4       23117 days 12:23:28.743649
                   ...
80327    3790 days 12:23:28.743649
80328    3790 days 12:23:28.743649
80329    3790 days 12:23:28.743649
80330    3790 days 12:23:28.743649
80331    3790 days 12:23:28.743649
Name: date_distence, Length: 80332, dtype: timedelta64[ns]